<template>
  <div class="container p-2 lg:p-8 flex flex-col">
    <head class="lg:px-16 px-6 bg-white flex flex-wrap items-center lg:py-0 py-2">
      <label for="menu-toggle" class="pointer-cursor lg:hidden block"><svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" /></svg></label>
      <input id="menu-toggle" class="hidden" type="checkbox">
      <div id="menu" class="hidden lg:flex lg:items-center lg:w-auto w-full">
        <nav>
          <ul class="lg:flex items-center justify-between text-base text-gray-700 pt-4 lg:pt-0">
            <li><a href="#" class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400">Home</a></li>
            <li><a href="#our-process" class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400">Proses Pelatihan Week 1</a></li>
            <li><a href="#about-us" class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400">Tentang Pelatihan</a></li>
          </ul>
        </nav>
        <!-- <nav id="menu" class="hidden lg:flex lg:items-center lg:w-auto w-full">
          <a href="#" class="px-6 py-3 font-bold uppercase text-primary border-b-2 border-primary">Home</a>
          <a href="#our-process" class="px-6 py-3 font-bold uppercase text-secondary hover:text-primary">Process</a>
          <a href="#about-us" class="px-6 py-3 font-bold uppercase text-secondary hover:text-primary">About us</a>
          <a href="#services" class="px-6 py-3 font-bold uppercase text-secondary hover:text-primary">Services</a>
          <a href="#testimonials" class="px-6 py-3 font-bold uppercase text-secondary hover:text-primary">Testimonials</a>
          <a href="#contact" class="px-6 py-3 font-bold uppercase bg-primary hover:bg-primary-400 text-secondary rounded">Contact</a>
        </nav> -->
      </div>
    </head>
    <div class="relative overflow-hidden px-6 pb-6">
      <img src="~/assets/images/wave.svg" class="absolute top-0 left-2/5">
      <div class="container mx-auto relative">
        <div class="flex flex-col md:flex-row items-center pt-32 pb-16 md:pb-0">
          <div class="md:w-1/2 lg:w-1/3 mb-4 sm:mb-16 md:mb-0">
            <h2 class="text-xl font-bold text-secondary-600 uppercase mb-2">
              Selamat datang di
            </h2>
            <h1 class="text-4xl md:text-5xl font-bold text-secondary leading-tight mb-6 md:mb-10">
              Landing Page {{name}}
            </h1>
            <a href="#" class="bg-teal-200 px-6 md:px-8 py-3 md:py-4 text-lg md:text-xl text-secondary font-bold uppercase rounded hover:bg-primary-400">More info</a>
          </div>
          <div class="mt-16 sm:mt-0 flex-1 flex justify-end">
            <img src="~/assets/images/hero.svg">
          </div>
        </div>
      </div>
    </div>
    <div id="our-process" class="relative">
      <img src="/images/circle2.svg" class="hidden sm:block absolute top-0 left-0 -mx-32">
      <div class="container mx-auto px-6 pt-6 pb-12 relative">
        <h3 class="flex flex-col items-center text-4xl text-secondary font-bold mb-12">
          Proses Pelatihan <span class="bg-teal-300 h-1 w-20 block mt-4" />
        </h3>
        <div class="flex flex-col md:flex-row xl:px-32">
          <div class="flex flex-col items-center md:px-6 lg:px-12">
            <span class="text-6xl text-primary">1</span>
            <h4 class="text-center font-semibold text-2xl text-secondary mb-2">
              Pengenalan Online Course
            </h4>
            <p class="text-center text-secondary-700 leading-relaxed">
              Pengenalan perihal kursus online yang akan diterapkan
            </p>
          </div>
          <div class="flex flex-col items-center md:px-6 lg:px-12">
            <span class="text-6xl text-primary">2</span>
            <h4 class="text-center font-semibold text-2xl text-secondary mb-2">
              Pengenalan komponen full stack
            </h4>
            <p class="text-center text-secondary-700 leading-relaxed">
              Pengenalan komponen-komponen yang diperlukan untuk front-end dan back-end website
            </p>
          </div>
          <div class="flex flex-col items-center md:px-6 lg:px-12">
            <span class="text-6xl text-primary">3</span>
            <h4 class="text-center font-semibold text-2xl text-secondary mb-2">
              Pengenalan tools dasar
            </h4>
            <p class="text-center text-secondary-700 leading-relaxed">
              Pengenalan tools dasar yang diperlikan untuk membuat project website
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="about-us" class="bg-blue-100 mt-32 py-12">
      <div class="container mx-auto px-6">
        <div class="flex flex-col md:flex-row">
          <div class="md:w-1/2 md:pr-8 lg:pr-16">
            <img src="~assets/images/about-us.svg" class="-mt-24 md:mt-0 lg:-mt-24 mb-16 md:mb-0">
          </div>
          <div class="md:w-1/2">
            <h3 class="flex flex-col text-4xl text-secondary font-bold mb-6">
              Tentang Pelatihan<span class="bg-primary h-1 w-20 block mt-4" />
            </h3>
            <p class="text-lg text-secondary-700 mb-4">
              Pelatihan pekan ini lebih ke pengenalan tentang kursus online, mengenali komponen yang diperlukan dalam project website, serta informasi tools yang diperlukan untuk merancang project website.
            </p>
            <p class="text-lg text-secondary-700">
              Untuk pekan ini kami diberi tugas untuk membuat landing page sederhana ini.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="testimonials" class="bg-blue-100">
      <div class="mt-16">
        <div class="bg-blue-500 pt-16 pb-16 md:pb-32 relative">
          <img src="/images/wave3.svg" class="w-full absolute bottom-full h-16 lg:h-auto object-cover object-top">
          <div class="container px-6 mx-auto">
            <div class="md:w-2/3 mx-auto relative">
              <img src="/images/quote.svg" class="absolute top-0 left-0 sm:-ml-16 -mt-4">
              <h3 class="text-white italic text-2xl text-center">
                "Yuk, kita bergabung menyambut era teknologi bersama puluhan ribu kawan lainnya"
                <strong class="block not-italic mt-6 text-primary">~ {{ name }} ~</strong>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="bg-white">
      <div class="container mx-auto  px-8">
        <div class="w-full flex flex-col md:flex-row py-6">
          <div class="flex-1">
            <p class="uppercase text-gray-500 md:mb-6">
              Links
            </p>
            <ul class="list-reset mb-6">
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <a href="#" class="no-underline hover:underline text-gray-800 hover:text-orange-500">FAQ</a>
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <a href="#" class="no-underline hover:underline text-gray-800 hover:text-orange-500">Help</a>
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <a href="#" class="no-underline hover:underline text-gray-800 hover:text-orange-500">Support</a>
              </li>
            </ul>
          </div>
          <div class="flex-1">
            <p class="uppercase text-gray-500 md:mb-6">
              Legal
            </p>
            <ul class="list-reset mb-6">
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <a href="#" class="no-underline hover:underline text-gray-800 hover:text-orange-500">Terms</a>
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <a href="#" class="no-underline hover:underline text-gray-800 hover:text-orange-500">Privacy</a>
              </li>
            </ul>
          </div>
          <div class="flex-1">
            <p class="uppercase text-gray-500 md:mb-6">
              Social
            </p>
            <ul class="list-reset mb-6">
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <a href="#" class="no-underline hover:underline text-gray-800 hover:text-orange-500">Facebook</a>
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <a href="#" class="no-underline hover:underline text-gray-800 hover:text-orange-500">Linkedin</a>
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <a href="#" class="no-underline hover:underline text-gray-800 hover:text-orange-500">Twitter</a>
              </li>
            </ul>
          </div>
          <div class="flex-1">
            <p class="uppercase text-gray-500 md:mb-6">
              Company
            </p>
            <ul class="list-reset mb-6">
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <a href="#" class="no-underline hover:underline text-gray-800 hover:text-orange-500">Official Blog</a>
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <a href="#" class="no-underline hover:underline text-gray-800 hover:text-orange-500">About Us</a>
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <a href="#" class="no-underline hover:underline text-gray-800 hover:text-orange-500">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-items-center mt-5 pt-4">
        <div class="col-auto text-gray-500 font-weight-light">© 2020 Landing Page {{ name }} • All rights reserved
        </div>
      </div>
    </footer>
  </div>
</template>
<style>
      #menu-toggle:checked + #menu {
        display: block;
      }
</style>
<script>
export default {
  data () {
    return {
      users: [],
      count: 9,
      name: 'Adit Ridwan',
    }
  },
  mounted () {
    this.get(this.count)
  },
  methods: {
    async get (count) {
      await this.$sleep(2000)
      this.users = (await this.$axios.get('example', { params: { count } })).data.data
    },
    total (count) {
      this.users = []
      this.count = count
      this.get(this.count)
    },
  },
}
</script>
